<%- include("partials/header"); %>

<div class="container-box">
    <H1>Contact</H1>
    <p>If you want to contact me, here's how.</p>
    <a href="github.com/lesliemw">Github</a>
    <br>
    <a href="linkedin.com/lesliemw93">Linkedin</a>
    <br>
    <p>Or, the old fashioned way...</p>
    <br>
    <p>l.marie1598@gmail.com</p>
    
</div>


<%- include("partials/footer"); %>